#banner {
	height: 50px;
	width: 100%;
	background-color: #ececec;
	text-align: center;
	padding-top: 20px;
	padding: bottom: 20px;
	position: relative;
}

#banner a {
	position: absolute;
	margin-left: -470px;
	margin-top: 20px;
}

#banner h1 {
	font-family: 'Lato', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #1a1a1a;
	margin: 0 auto;
	font-size: 1.75em;
	font-variant: small-caps;
	position: absolute;
	margin-left: 410px;
	margin-top: -10px;
}

#banner form {
	display: inline-block;
	padding: 10px;
	position: absolute;
	margin-top: -5px;
	margin-left: -40px;

}

#banner input[type=text] {
	width: 500px;
	height: 30px;
}

#banner input[value] {
	color: #808080;
}

#navigation {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	position: center;
	padding-top: 20px;
	text-align: right;
	padding-bottom: 30px;
	margin-right: 200px;
}

#navigation li {
	display: inline;
}

#navigation li a {
	text-decoration: none;
	color: black;
	font-size: 12px;
	padding-left: 35px;
	padding-right: 35px;
}

#navigation li a:hover {
	color: #f2695c;
}

#search {
	display: inline-block;
}

#logo {
	width: 100px;
	height: 94px;
	margin-top: -25px;
}

#home_page {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

#home-photo-container {
	margin: 0 auto;
	position: relative;
	height: 563px;
	width: 950px;
}

#home-photo-container h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	position: absolute;
	top: 20%;
	left: 10%;
	color: white;
	padding: 5px 5px 5px 5px;
}

#home-photo-container img {
	margin: 0 auto;
	width: 100%;
}

h2 {
	text-align: center;
	font-variant: small-caps;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	margin: 0 auto;
	padding-top: 20px;
	margin-bottom: 20px;
}

#arrow1 {
	float: left;
	margin-top: -65px;
	margin-left: 230px;
}

#arrow2 {
	float: right;
	margin-top: -65px;
	margin-right: 230px;
}

.photographers-container {
	margin: 0 auto;
	position: relative;
	width: 950px;
}

.photographers-container ul {
	padding: 0;
	margin: 0;
	position: relative;
}

.photographers-container h2 {
	margin-top: -40px;
	padding-bottom: 20px;
	font-weight: bolder;
} 

.photographers-container li {
	display: inline-block;
	width: 300px;
	text-align: center;
	padding: 5px;
}

li.interior { 
	margin-left: 0px;
	margin-right: 5px; 
}

li.last {
	margin-left: 0px;
	margin-right: 0px;
}

.headline-photo img:hover {
z-index: 1;
}

.photographer-name {
	width: 300px;
	height: 300px;
	margin-top: -303px;
	margin-left: -150px;
	position: absolute;
}

.photographer-name span {
	visibility: hidden;
	width: 300px;
	height: 300px;
}

.photographer-name p{
	width: 300px;
}

span.photographer-name:hover {
	visibility: visible;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	z-index: 1;
	width: 300px;
	height: 300px;
 -webkit-animation: fadein 1s; /* Safari and Chrome */
       -moz-animation: fadein 1s; /* Firefox */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera */
            animation: fadein 1s;
}

span.photographer-name:hover p {
	visibility: visible;
	font-family: 'Lato', sans-serif;
	font-variant: small-caps;
	font-size: 2.75em;
	color: white;
	opacity: 100%;
	font-weight: bolder;
	margin-top: 100px;
	position: absolute;
	z-index: 2;
	text-align: center;
}

#footer {
	border-top: 1px solid gray;
	margin: 0 auto;
	padding-top: 20px;
	width: 950px;
	position: relative;
	padding-bottom: 20px;
}

#footer ul {
	display: inline;
}

#footer li {
	font-family: 'Lato', sans-serif;
	font-size: .75em;
	text-decoration: none;
	color: black;
	display: inline;
	margin-left: 20px;
}

#footer li a {
	font-family: 'Lato', sans-serif;
	font-size: 1.0em;
	text-decoration: none;
	color: black;
	display: inline;
}

#footer li a:hover {
	color: #f2695c;
}

#copyright{
	float: left;
}

.footer-nav {
	float: right;
}

.footer-nav li {
	margin-left: 5px;
	margin-right: 5px;
}

#about-container {
	width: 950px;
	margin: 0 auto;
	position: relative;
}

#about-container #margiealex {
	margin-top: 50px;
	position: absolute;
}

#about-container h1 {
	font-variant: small-caps;
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	color: #1a1a1a;
}

#about-container p {
	font-family: 'Lato', sans-serif;
	font-size: 1.0em;
	color: #1a1a1a;

}

#about-container h2 {
	font-variant: small-caps;
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	color: #1a1a1a;
}

/*.display-photographers li {
	height: 300px;
	width: 300px;
	position: relative;
}*/

#logo-smaller {
	position: absolute;
	margin-top: -20px;
	height: 70px;
	width: 75px;
}

.search-info {
	margin-left: 5px;
}

.search-info p {
	font-variant: small-caps;
	font-family: 'Lato', sans-serif;
	color: #1a1a1a;
	position: absolute;
}

/*
.search-info h2 {
	font-variant: small-caps;
	font-family: 'Lato', sans-serif;
	font-size: 1.0em;
	color: #1a1a1a;
	width: 300px;
	position: absolute;
	margin-top: -145px;
}
*/

.search-info p {
	font-family: 'Lato', sans-serif;
	color: #1a1a1a;
	width: 300px;
	margin-top: -75px;
	position: absolute;
}

.search-info ul {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: .75em;
	position: absolute;
	height: 150px;
	width: 300px;
}

.search-info ul li {
	max-width: 125px;
	text-align: left;
}

/*#city {
	font-size: 1.75em;
	position: absolute;
	margin-top: -275px;
}
*/

#map-pin {
	position: absolute;
	margin-top: -275px;
	margin-left: 100px;
	height: 30px;
	width: 22px;
}

#zip {
	width: 200px;
	font-size: 4.0em;
	position: absolute;
	margin-top: -293px;
	margin-left: 50px;
	border-bottom: 1px solid #1a1a1a;
	border-top: 1px solid #1a1a1a;
}

#narrow-search {
	font-size: 1.05em;
	position: absolute;
	margin-top: -190px;
	text-transform: uppercase;
	color: #f2695c;
}

#advanced-search {
	font-size: .75em;
	position: absolute;
	margin-top: -157px;
}

.search-info input[type=submit]:hover {
	color: #f2695c;
}

.photographer-bio {
	height: 300px;
	width: 950px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#bio-container {
	float: right;

}

#bio-image {
	height: 300px;
	width: 300px;
	float: left;
	margin-left: 2px;
}

#bio {
	width: 575px;
	float: right;
}

#bio h1 {
	font-size: 3.0em;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	text-align: center;
	border-top: 1px solid #1a1a1a;
	border-bottom: 1px solid #1a1a1a;
}

#bio p {
	font-size: 1.0em;
	font-family: 'Lato', sans-serif;
	margin-top: 30px;
	line-height: 140%;
}

#bio-buttons {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	width: 575px;
	float: right;
	height: 100px;
	position: relative;
}

#rates-button {
	height: 80px;
	width: 105px;
	text-align: center;
	position: absolute;
	top: 70px;
	right: 475px;
}

#rates-icon {	
	height: 30px;
}

#rates-button a {
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #1a1a1a;
	text-decoration: none;
}

#book-icon {
	height: 80px;
}

#book-button {
	height: 130px;
	float: right;
	text-align: center;
	width: 170px;
	position: absolute;
	top: -10px;
	right: -5px;
}

#book-button a {
	font-size: 2.0em;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #1a1a1a;
	width: 180px;
	text-decoration: none;
}

/*
#bio-buttons {
	font-size: 2em;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	width: 575px;
	float: right;
	margin-top: 50px;
}

#bio-buttons ul {
	float: right;
}

#bio-buttons li {
	display: inline-block;
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

#bio-buttons a {
	color: #1a1a1a;
	text-decoration: none;
	vertical-align: middle;
}

#contact-button {
	padding-left: 30px;
	padding-right: 5px;
}

#contact-button a {
	border-radius: 15px;
	background-color: #ececec;
	padding-bottom: 10px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}	

#rates-button {
	padding-left: 5px;
}

#rates-button a {
	border-radius: 15px;
	background-color: #ececec;
	padding-bottom: 10px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#bio-buttons a:hover {
	color: #f2695c;
}

#contact-icon {
	height: 35px;
	padding-right: 10px;
	vertical-align: middle;
}

*/



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}​
