#home-photo-container {
	margin: 0 auto;
	position: relative;
	max-width: 65%;
	margin-top: 10px;
	margin-bottom: 20px;

	img {
		margin: 0 auto;
		width: 100%;
	}
}

#featured-header {
	margin-bottom: 20px;
	margin: 0 auto;
	max-width: 35%;

	h2 {
		font-variant: small-caps;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		margin: 0 auto;
		padding-left: 3%;
		padding-right: 3%;
		text-align: center;

	}
 
	#arrow1 {
		float: left;
	}

	#arrow2 {
		float: right;
	}
}